@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$primary-color: #2fa8cc;
$accent-color: white;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-image: url("https://e0.pxfuel.com/wallpapers/127/455/desktop-wallpaper-mortal-kombat-logo-mortal-kombat-games-fan-site.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh;
  color: white;

  .logo img {
    max-width: 40px;
    max-height: 40px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $primary-color;
    color: $accent-color;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    #bigDaddy {
      background-color: #bada55;
      width: 100%;
      height: 50px;

      li,
      li #orphanage .kid {
        display: inline-block;
      }

      li a {
        display: block;
        padding: 0 20px;
        line-height: 45px;
      }

      li a:hover {
        background-color: #fff;
        border-bottom: solid 5px green;
      }

      li #orphanage {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
        background-color: lightblue;
        text-align: center;

        .kid a {
          border-bottom: none;
        }
      }

      .dad:hover #orphanage {
        display: block;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        position: relative;
        top: 10px;
        @media (min-width: 768px) {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding: 20px;
    text-align: center;
    margin-top: 20px;

    .search-input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }

    button[type="submit"] {
      background-color: $accent-color;
      color: $primary-color;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($accent-color, 10%);
      }
    }

    .close-button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 20px;
      }
    }
  }

  .menu-right {
    position: absolute;
    top: 20px;
    right: 20px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;

      li {
        margin-right: 10px;

        a {
          display: block;

          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
.trending-header {
  margin-left: 35px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

  .column {
    flex: 1;
    margin: 10px;
    width: 100%;
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 250px;
      display: block;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;

    .column {
      max-width: 100%;
    }
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
}
